root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,yml,yaml,toml,pkl,csproj,props,targets,slnx}]
indent_size = 2

[*.md]
indent_size = unset

[*.verified.txt]
indent_size = unset
charset = utf-8-bom

[LICENSE]
indent_size = unset

[*.cs]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
